<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- HTTP Security configuration -->
	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/index"
			access="permitAll" />
		<security:intercept-url pattern="/login"
			access="permitAll" />
		<security:intercept-url pattern="/home"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/webresources/**"
			access="permitAll" />
		<security:intercept-url pattern="/**"
			access="hasRole('isAuthenticated()')" />
		<security:logout logout-url="/perform_logout"
			logout-success-url="/login" invalidate-session="true"
			delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE" />
		<!-- Access denied page -->
		<security:access-denied-handler
			error-page="/404" />
		<security:form-login login-page="/login"
			authentication-success-handler-ref="AuthSuccessHandler"
			login-processing-url="/perform_login" always-use-default-target="false"
			username-parameter="j_username" password-parameter="j_password"
			authentication-failure-url="/login?error" />
		<!-- Enable CSRF protection -->
		<security:csrf />
		<security:session-management>
			<security:concurrency-control
				error-if-maximum-exceeded="false" max-sessions="1" />
		</security:session-management>
	</security:http>

	<!-- Database Connection -->
	<import resource="classpath:/database/spring-datasource.xml" />

	<!-- Create necessary beans -->
	<bean id="AuthSuccessHandler"
		class="org.maven.template.security.web.WebTemplateAuthenticationSuccessHandler" />

	<bean id="PaswordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="12" />
	</bean>


	<!-- Select users and user_roles from database -->
	<security:authentication-manager id="authenticationManager">
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="SELECT EMPLOYEE_ID username, password, 1 enabled
										   FROM EMPLOYEES_CRED
										  WHERE name = ?"
				authorities-by-username-query="SELECT EMPLOYEE_ID username, 'ROLE_'|| desg_it role
												 FROM EMPLOYEES_CRED
												WHERE name = ?" />
			<security:password-encoder ref="PaswordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>


</beans>